﻿@model Reporting.ViewModels.AccountInfoViewModel
@{
    ViewBag.Title = "AccountInfo";
}

<h2>Account Info</h2>
<h4>Tutorial 3.0(4)</h4>

<table class="table">
    @using (Html.BeginForm("AccountInfo", "AccountInfo", new { id = "filter" }, FormMethod.Post))
    {
        <tr>
            <td><p>Search For Account Validation</p></td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    @Html.LabelFor(model => model.AccountInfoVM.AccountVerified)
                    @Html.DropDownListFor(model => model.AccountInfoVM.AccountVerified, new SelectList(new[] { new { Value = "True", Text = "Yes" }, new { Value = "False", Text = "No" }, },"Value","Text"),new { @class = "form-control" } )
                </div>
            </td>
        </tr>
        <tr>
            <td><p>Search For Merchant ID</p></td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    @Html.LabelFor(model => model.AccountInfoVM.Site1CompanyRemID)
                    @Html.TextBoxFor(model => model.AccountInfoVM.Site1CompanyRemID, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </td>
        </tr>
        <tr>
            <td align="right"><button type="submit" class="btn btn-default">Search</button></td>
        </tr>
    }
</table>
<h4>List of Merchants Account Info</h4>
<table class="table">
    <tr>
        <td><b>@Html.DisplayNameFor(model => model.AccountInfoVM.CompanyRemID)</b></td>
        <td><b>@Html.DisplayNameFor(model => model.AccountInfoVM.CreateDateTime)</b></td>
        <td><b>@Html.DisplayNameFor(model => model.AccountInfoVM.Site1CompanyRemID)</b></td>
        <td><b>@Html.DisplayNameFor(model => model.AccountInfoVM.LoginUsername)</b></td>
        <td><b>@Html.DisplayNameFor(model => model.AccountInfoVM.AccountVerified)</b></td>
    </tr>
    @foreach (var item in Model.ListAccountInfo)
    {
<tr>
    <td>@Html.DisplayFor(Model => item.CompanyRemID)</td>
    <td>@Html.DisplayFor(Model => item.CreateDateTime)</td>
    <td>@Html.DisplayFor(Model => item.Site1CompanyRemID)</td>
    <td>@Html.DisplayFor(Model => item.LoginUsername)</td>
    <td>@Html.DisplayFor(Model => item.AccountVerified)</td>
</tr>
    }
</table>
