﻿@model Reporting.ViewModels.SummaryViewModel
@{
    ViewBag.Title = "SummaryTransaction";
}

<h2>SummaryTransaction</h2>
<h4>Tutorial 3.0(2)</h4>

<table class="table">
    @using (Html.BeginForm("SummaryTransactions", "Summary", new { id = "filter" }, FormMethod.Post))
    {
        <tr>
            <td><p>Search For Date</p></td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    @Html.LabelFor(model => model.Summary.Month)
                    @Html.TextBoxFor(model => model.Summary.Month, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.LabelFor(model => model.Summary.Year)
                    @Html.TextBoxFor(model => model.Summary.Year, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </td>
        </tr>
        <tr>
            <td><p>Search For Company ID</p></td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    @Html.LabelFor(model => model.Summary.CompanyRemID)
                    @Html.TextBoxFor(model => model.Summary.CompanyRemID, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </td>
        </tr>
        <tr>
            <td align="right"><button type="submit" class="btn btn-default">Search</button></td>
        </tr>
     }
    </table>
    <h4>List of Transaction Summary</h4>
    <table class="table">
        <tr>
            <td><b>@Html.DisplayNameFor(model => model.Summary.Month)</b></td>
            <td><b>@Html.DisplayNameFor(model => model.Summary.TotalCount)</b></td>
            <td><b>@Html.DisplayNameFor(model => model.Summary.TotalAmount)</b></td>
        </tr>
        @foreach (var item in Model.ListSummary)
        {
    <tr>
        <td>@Html.DisplayFor(Model => item.Month)</td>
        <td>@Html.DisplayFor(Model => item.TotalCount)</td>
        <td>@Html.DisplayFor(Model => item.TotalAmount)</td>
    </tr>
        }
    </table>

