﻿@model Reporting.ViewModels.SuccessRateViewModel
@{
    ViewBag.Title = "SuccessRate";
}

<h2>Transaction Success Rate</h2>
<h4>Tutorial 3.0(3)</h4>

<table class="table">
    @using (Html.BeginForm("SuccessRate", "SuccessRate", new { id = "filter" }, FormMethod.Post))
    {
        <tr>
            <td><p>Search For Date</p></td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    @Html.LabelFor(model => model.successRate.StartDate)
                    @Html.TextBoxFor(model => model.successRate.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.LabelFor(model => model.successRate.EndDate)
                    @Html.TextBoxFor(model => model.successRate.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </td>
        </tr>
        <tr>
            <td><p>Search For Company ID</p></td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    @Html.LabelFor(model => model.successRate.CompanyRemID)
                    @Html.TextBoxFor(model => model.successRate.CompanyRemID, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </td>
        </tr>
        <tr>
            <td align="right"><button type="submit" class="btn btn-default">Search</button></td>
        </tr>
    }
</table>
<h4>List of Transaction Success Rate</h4>
<table class="table">
    <tr>
        <td><b>@Html.DisplayNameFor(model => model.successRate.Day)</b></td>
        <td><b>@Html.DisplayNameFor(model => model.successRate.Month)</b></td>
        <td><b>@Html.DisplayNameFor(model => model.successRate.SuccessRate)</b></td>
        <td><b>@Html.DisplayNameFor(model => model.successRate.FailureRate)</b></td>
        <td><b>@Html.DisplayNameFor(model => model.successRate.TotalCount)</b></td>
    </tr>
    @foreach (var item in Model.ListSuccessRate)
    {
<tr>
    <td>@Html.DisplayFor(Model => item.Day)</td>
    <td>@Html.DisplayFor(Model => item.Month)</td>
    <td>@Html.DisplayFor(Model => item.SuccessRate)</td>
    <td>@Html.DisplayFor(Model => item.FailureRate)</td>
    <td>@Html.DisplayFor(Model => item.TotalCount)</td>

</tr>
    }
</table>



